
html {
    color: rgb(2, 2, 2); background-color: rgb(116, 177, 213); 
    font-family: 'Times New Roman', Times, serif; font-size: 16px;
    font-weight: 400;
    margin: 1;
}
h1{
    font-weight: 200;
}  
ul{
    color:rgb(2, 2, 2);
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
}
.grid ul:hover{
    border: 1px solid rgb(101, 22, 198);
}
.boton{
    
    align-items:center;
    background-color: rgb(36, 128, 177);
    border-radius: 5px;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    height: 80px;
    width: 450px;
}

.imagen{
    background: center;
    border-radius: 20%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 8px 16px 32px 0px var(--shadow);
    height: 300px;
    margin-top: 80px;
    width: 300px;
}
.curved-background__curved {
    /* Background color */
    background-color: #3c5983;

    /* You can use gradient background color such as */
    /* background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

    /* Curved corners */
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;

    /* Size */
    height: 50%;
    width: 100%;
}