* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(100deg,#1d1421,#241f26,#2e3032);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Menu de navegacion */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align:center;
  font-weight: 700;
  text-shadow: 2px  1px 2px black,
             1px  1px 1px black,
            -2px  1px 2px black,
             2px -1px 2px black;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  font-size: 20px;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}

.nav__close {
  display: var(--show, none);
}

/* Main */

#caja-login {
  width: 450px;
  background: #bbc0be85;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

#caja-login h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #ffffffbb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #96badd;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

#caja-login p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

#caja-login a {
  color: white;
  text-decoration: none;
}

#caja-login a:hover {
  color: white;
  text-decoration: underline;
}


/* Footer */
.send-button {
  margin: 0 50px;
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid rgb(104, 30, 99);
  border-radius: 4px;
  background: transparent;
  color: rgb(242, 240, 240);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
  width: 75%;
}

.send-button span {
  position: absolute;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background: rgb(104, 30, 99);
  top: -50%;
  left: -100%;
  transition: .3s;
}

.send-button:hover span {
  left: -10%;
}

.send-button:hover {
  color: #c0e4da;
  background:  rgb(104, 30, 99);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}

.footer {
  background: linear-gradient(100deg,#1d1421,#241f26,#2e3032);
  margin-top: 185px;
}

.footer__copy {
  padding: 25px;
  text-align: center;
  color: #fff;
}

.footer__copyright {
  font-weight: 300px;
}

.footer__icons {
  margin-bottom: 10px;
}

.footer__img {
  width: 30px;
}